{% extends 'base.html.twig' %}

{% block title %}Kapha!{% endblock %}

{% block header %}
<div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-title mb-3">Acerca de KAPHA</h1>
                                        <p class="page-header-text">Bienestar para todos</p>
                                    </div>
</div>
{% endblock %}

{% block header_image %}
<div class="svg-border-rounded text-white">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
</div>
{% endblock %}

{% block body %}                            
<section class="bg-white py-10">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Quienes somos
                                    </h4>
                                    <p class="lead">Somos dos amigas que creemos apasionadamente en lo que el cuerpo y la
                                    mente balanceados pueden lograr. Por eso hemos creado este espacio de
                                    bienestar para todos, aquí encontrarás diferentes disciplinas con horarios y
                                    maestros que se adaptan a tus necesidades. La clase en vivo te permite la
                                    posibilidad de interactuar con el maestro en caso de que haya dudas o
                                    preguntas.</p>
                                    <p>A través de la experiencia que hemos adquirido en nuestros años itinerantes,
                                    nuestro conocimiento se ha fortalecido y por eso estamos aquí hoy llegando a tu
                                    hogar para ofrecerte herramientas que te van a ayudar a sacar el mejor
                                    provecho de tu día a día.</p>
                                    <!--<div class="card bg-light shadow-none">
                                        <div class="card-body">
                                            <h6>Questions you should ask yourself</h6>
                                            <ul class="mb-0">
                                                <li class="text-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta fugiat eveniet, dignissimos facere quisquam, odit suscipit aliquid magnam,?</li>
                                            </ul>
                                        </div>
                                    </div>-->
                                    <hr class="my-5">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        A donde queremos llegar
                                    </h4>
                                    <p class="lead">Los seres humanos somos movimiento y por eso estamos seguras que a través
                                    de la práctica se logran cambios profundos y definitivos en el cuerpo y la mente..</p>
                                    <p>Cuando el cerebro y el corazón crean una conexión es un gran logro porque
                                    entonces todo lo que pensamos, sentimos, decimos y lo que hacemos es
                                    coherente, y esto sólo se logra a través de la oportunidad que da la práctica
                                    regular.</p>
                                    <hr class="my-5">
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-primary text-white mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div>
                                        Lo que hacemos
                                    </h4>
                                    <p class="lead">Hoy nosotras estamos uniendo esfuerzos y conocimiento para compartir
                                    nuestra experiencia en este espacio virtual con ustedes. En el transcurso de los
                                    años hemos sido testigo de cómo a través de la práctica de Mindfulness,
                                    Meditación, Yoga y otras disciplinas, el ser humano puede lograr cambios reales
                                    y definitivos estableciendo una conexión con su cuerpo, con su mente y su alma.</p>
                                    <p>Esa es nuestra misión, por eso existimos y por eso creemos profundamente en
                                    lo que hacemos..</p>                                    
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
</section>
{% endblock %}