{% extends 'base.html.twig' %}

{% block title %}Kapha - Politica de Privacidad!{% endblock %}

{% block header %}
<div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-title mb-3">Politica de Privacidad</h1>
                                        <p class="page-header-text"></p>
                                    </div>
</div>
{% endblock %}

{% block header_image %}
<div class="svg-border-rounded text-white">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
</div>
{% endblock %}

{% block body %}                            
<section class="bg-white py-10">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">

      <p>El presente documento constituye el Aviso de Privacidad para efectos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y las disposiciones que emanan de ella o se relacionan con la misma. Este Aviso de Privacidad aplica a la información personal recopilada sobre el Titular por Wesdap.com, en su carácter de Responsable.</p>
      <p>&nbsp;</p>
      <p>El presente Aviso de Privacidad tiene los siguientes términos y condiciones:</p>
      <p>&nbsp;</p>
      <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DEFINICIONES:</p>
      <p>&nbsp;</p>
      <p>Para los efectos del presente Aviso y de acuerdo a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares se entenderá por:</p>
      <p>&nbsp;</p>
      <p>a) Aviso de Privacidad.- Documento físico o electrónico, generado por el responsable, que es puesto a disposición del titular, previo al tratamiento de sus datos personales.</p>
      <p>&nbsp;</p>
      <p>b) Datos Personales.- Cualquier información concerniente a una persona física que de manera razonable permita identificarla.</p>
      <p>&nbsp;</p>
      <p>c) “Datos Personales Sensibles”.- Aquellos datos personales que afecten a la esfera más íntima de su titular o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para este.</p>
      <p>&nbsp;</p>
      <p>d) Derechos ARCO.- Significa los derechos de Acceso, Rectificación, Cancelación y Oposición que de conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y sujeto a las excepciones establecidas en la misma y en el presente Aviso de Privacidad, cada Titular tiene, en relación con los Datos Personales recabados por el Responsable y/o sus Encargados, y que se describen a continuación:</p>
      <p>&nbsp;</p>
      <p>Derecho de Acceso.- Es el derecho que tiene el Titular a conocer sobre los Datos Personales relacionados a su persona que obren en poder del Responsable de que se trate o de sus Encargados, asimismo a quién le han sido compartidos y con qué finalidad.</p>
      <p>&nbsp;</p>
      <p>Derecho a la Rectificación.- Cada Titular tiene derecho a que sus Datos Personales sean rectificados cuando éstos sean inexactos o incompletos.</p>
      <p>&nbsp;</p>
      <p>Derecho de Cancelación.- Cada Titular tiene derecho a solicitar en cualquier momento que se supriman sus Datos Personales, lo cual sucederá una vez que transcurra el periodo de bloqueo. El bloqueo implica la identificación y conservación de los Datos Personales, una vez que se cumpla la finalidad para la cual fueron recabados, y tiene como propósito determinar las posibles responsabilidades en relación con su tratamiento, hasta el plazo de prescripción legal o contractual de éstas. Durante dicho periodo, sus Datos Personales no serán objeto de tratamiento y transcurrido éste, se procederá con su cancelación en la base de datos o archivo correspondiente. Una vez cancelado el dato correspondiente, el Responsable le dará al Titular el aviso correspondiente. En caso de que los Datos Personales hubiesen sido transmitidos con anterioridad a la fecha de rectificación o cancelación y sigan siendo tratados por terceros, el Responsable hará del conocimiento del tercero de que se trate, dicha solicitud de rectificación o cancelación, para que proceda a efectuarla también.</p>
      <p>&nbsp;</p>
      <p>Derecho de Oposición.- El Titular tiene en todo momento el derecho a solicitar, siempre que tenga una causa legítima, que el Responsable deje de tratar sus Datos Personales.</p>
      <p>&nbsp;</p>
      <p>e) Responsable.- Significa la persona física o moral que decide sobre el tratamiento de los Datos Personales del Titular, en este caso Wesdap.com</p>
      <p>&nbsp;</p>
      <p>f) Encargado.- Significa la persona física o jurídica que sola o conjuntamente con otras trate Datos Personales por cuenta del Responsable.</p>
      <p>&nbsp;</p>
      <p>g) Titular Significa la persona física titular de los Datos Personales, o autorizada para entregar Datos Personales de un tercero conforme a las leyes aplicables, que entregue dichos Datos Personales al Responsable.</p>
      <p>&nbsp;</p>
      <p>2. CONSENTIMIENTO DEL TITULAR.</p>
      <p>&nbsp;</p>
      <p>Para efectos de lo dispuesto por el artículo 17 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares, el Titular manifiesta que: (i) el presente Aviso de Privacidad le ha sido dado a conocer por el Responsable, (ii) haber leído, entendido y acordado los términos expuestos en este Aviso de Privacidad, por lo que otorga su consentimiento respecto del tratamiento de sus Datos Personales para efectos de la la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y demás legislación aplicable. En caso de que los Datos Personales recopilados incluyan Datos Personales sensibles o financieros, mediante la firma del contrato correspondiente, sea en formato impreso, o utilizando medios electrónicos y sus correspondientes procesos para la formación del consentimiento, por ejemplo, a título enunciativo mas no limitativo, el suministro de Datos Personales a través de las ventanas de diálogo, o la visualización y recorrido en pantalla de términos y condiciones, actos que constituyen el consentimiento expreso del titular en términos del segundo párrafo del artículo 8 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y demás legislación aplicable y (iii) que otorga su consentimiento para que Wesdap.com, o sus Encargados realicen transferencias de Datos Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros den a sus Datos Personales deberá ajustarse a lo establecido en este Aviso de Privacidad.</p>
      <p>&nbsp;</p>
      <p>En caso de que el Titular no se oponga a los términos del presente Aviso de Privacidad dentro las siguientes 48 horas en que fue puesto a su disposición, se considerará acordado y consentido su contenido, en términos del tercer párrafo del artículo 8 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares. El consentimiento del Titular podrá ser revocado en cualquier momento por éste sin que se le atribuyan efectos retroactivos, en los términos y conforme a los procedimientos establecidos más adelante para ello conforme a este Aviso de Privacidad.</p>
      <p>&nbsp;</p>
      <p>No obstante cualquier disposición de este Aviso de Privacidad, el Titular reconoce que no se requerirá de su consentimiento para el tratamiento de Datos Personales por parte del Responsable o de terceros en cualquiera de los casos señalados en el Artículo 10 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares.</p>
      <p>&nbsp;</p>
      <p>3. OBJETO DEL AVISO DE PRIVACIDAD; FINALIDAD DE LOS DATOS PERSONALES.</p>
      <p>&nbsp;</p>
      <p>El presente Aviso de Privacidad tiene por objeto establecer los términos y condiciones en virtud de las cuales Wesdap.com, (o el Encargado que designe Wesdap.com (i) recibirá y protegerá los Datos Personales del Titular, a efecto de proteger su privacidad y su derecho a la autodeterminación informativa, en cumplimiento de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares; (ii) utilizará los Datos Personales del Titular, y (iii) realizará en su caso las transferencias de Datos Personales a terceros.</p>
      <p>&nbsp;</p>
      <p>El Responsable recolectará y tratará los Datos Personales del Titular, es decir, aquella información que puede identificarle de manera razonable, a través de la recepción documentos, sean en formato impreso y/o digital. Los siguientes son ejemplos, a título enunciativo mas no limitativo, de información que el Responsable puede recopilar: nombre y apellidos; fecha de nacimiento; edad, estado civil, nacionalidad, domicilio, sea particular, del trabajo, o fiscal; dirección de correo electrónico, personal o del trabajo; número telefónico, particular o del trabajo; número de teléfono celular; número de tarjeta de crédito, de débito o cuentas bancarias; clave del Registro Federal de Contribuyentes (RFC); Clave Única de Registro de Población (CURP); número de afiliación al Instituto Mexicano del Seguro Social, así como otros de naturaleza análoga. La recolección de Datos Personales podrá efectuarse cuando el Titular se comunica vía telefónica con el Responsable o con sus Encargados, o bien, mediante entrega directa al Responsable o mediante el uso de correos electrónicos y/o mediante la utilización de sus sitios Web, mediante el suministro voluntario de información a través de las ventanas de diálogo habilitadas en los sitios, o mediante el uso de herramientas de captura automática de datos. Dichas herramientas le permiten recolectar la información que envía su navegador a dichos sitios Web, tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, y la dirección de sitios Web que utilizó para acceder a los sitios del Responsable o Encargados. Dentro de la documentación que puede ser recolectada por Wesdap.com, para la verificación de la identidad del Titular de los Datos Personales se encuentra la credencial de elector; en caso de extranjeros Forma Migratoria (FM2 o FM-3) la cartilla de identidad del servicio militar nacional liberada; la cédula de registro en el RFC; la Cédula Única de registro de Población ( CURP); el comprobante de domicilio: boleta de pago de derechos de agua, boleta de pago del impuesto predial, o boleta de pago del servicio de suministro de electricidad; el informe especial de crédito emitido por una Sociedad de Información Crediticia. Para el caso de postulantes a empleados podría también solicitarse el acta de nacimiento; comprobantes de estudios; el estado de cuenta de la Administradora de Fondos para el retiro (Afore); la hoja de retención de impuestos, o de estudios médicos, así como de los estudios psicométrico y socio-económico efectuados por Wesdap.com También le podrían ser solicitados los Datos Personales de sus familiares, dependientes o beneficiarios, tales como nombre y apellidos, fecha de nacimiento, domicilio y número telefónico y la documentación comprobatoria conducente, como acta de nacimiento y/o acta de matrimonio.</p>
      <p>&nbsp;</p>
      <p>El Responsable también puede recolectar Datos Personales de fuentes de acceso público y de otras fuentes disponibles en el mercado a las que el Titular pudo haber dado su consentimiento para compartir su información personal.</p>
      <p>&nbsp;</p>
      <p>Los Datos Personales del Titular son recolectados y tratados por el Responsable o sus Encargados con la finalidad de permitirle al Titular, llevar a cabo las siguientes actividades con el Responsable:</p>
      <p>&nbsp;</p>
      <p>a.Relación Comercial</p>
      <p>b.Relación Laboral</p>
      <p>&nbsp;</p>
      <p>Asimismo, el Responsable, directamente o a través de sus Encargados, puede utilizar sus Datos Personales para los siguientes fines:</p>
      <p>&nbsp;</p>
      <p>a.Para trámites relacionados con el esquema laboral y/o comercial.</p>
      <p>b.En obediencia a la autoridad competente</p>
      <p>c.Para el tratamiento/gestión de riesgos del negocio.</p>
      <p>&nbsp;</p>
      <p>Wesdap.com, requiere compartir sus Datos Personales con proveedores de servicios de administración y gestión de bases de datos; tratamiento automatizado de Datos Personales y su almacenamiento; autenticación y validación de correos electrónicos; contratación de personal; servicios de auditoría, y otros servicios de naturaleza análoga a las descritas.</p>
      <p>&nbsp;</p>
      <p>Recolección de datos al navegar en los sitios y páginas web de Wesdap.com,&nbsp; Dentro de las herramientas de captura automática de datos utilizadas por Wesdap.com, en sus sitios y páginas web se encuentran las cookies, los Web beacons, y los enlaces en los correos electrónicos.</p>
      <p>&nbsp;</p>
      <p>USO DE COOKIES</p>
      <p>&nbsp;</p>
      <p>El correcto funcionamiento de los sitios de Wesdap.com y el de sus proveedores requieren de la habilitación de “cookies” en su navegador de Internet. Las "cookies" son pequeños archivos de datos transferidos por el sitio Web al disco duro de su computadora cuando navega por el sitio. Las cookies pueden ser de sesión o permanentes. Las cookies de sesión no se quedan en su computadora después de que usted cierra la sesión de su navegador, mientras que las cookies permanentes se quedan en las computadoras hasta que son eliminados o caducan. En la mayoría de los navegadores las cookies se aceptan automáticamente en virtud de su configuración predeterminada, usted puede ajustar las preferencias de su navegador para aceptar o rechazar las cookies. La desactivación de las cookies puede inhabilitar diversas funciones de los sitios web de Wesdap.com o que no se muestren correctamente. En caso de que usted prefiera eliminar la información de las cookies enviadas por Wesdap.com, usted puede eliminar el archivo(s) al final de cada sesión del explorador. Información relevante puede ser consultada en los sitios de los principales navegadores de Internet. Uso de Web beacons (también conocidos como etiquetas de Internet, etiquetas de píxel y clear GIFs).- Wesdap.com&nbsp; puede utilizar en su sitios web y en sus correos electrónicos con formato HTML los Web beacons, solos o en combinación con las cookies, para recopilar información sobre el uso de los sitios web y su interacción con el correo electrónico. El Web beacon es una imagen electrónica, llamada de un solo píxel (1x1) o GIF que puede reconocer información que es procesada en su computadora, como el caso de las cookies, la hora y fecha en que el sitio y sus secciones son visualizados. Vínculos en los correos electrónicos de Wesdap.com Los correos electrónicos que incluyen vínculos permiten a Wesdap.com saber si usted activó dicho vínculo y visitó la página web de destino, pudiendo esta información ser incluida en su perfil.</p>
      <p>&nbsp;</p>
      <p>Los Datos Personales que Wesdap.com&nbsp; obtiene de sus fuentes comerciales pueden utilizarse junto con los Datos Personales que recolecta a través de sus sitios web.</p>
      <p>&nbsp;</p>
      <p>4. TRANSFERENCIA DE DATOS.</p>
      <p>&nbsp;</p>
      <p>Una vez leído, entendido y acordado los términos expuestos en este Aviso de Privacidad, el Titular manifiesta su consentimiento para que el Responsable o cualquier Encargado realicen transferencias de Datos Personales a terceros nacionales o extranjeros, en el entendido de que el tratamiento que dichos terceros den a los Datos Personales del Titular deberá ajustarse a lo establecido en este Aviso de Privacidad.</p>
      <p>&nbsp;</p>
      <p>El Titular reconoce y acepta que el Responsable no requiere de autorización ni confirmación de dicho Titular para realizar transferencias de Datos Personales nacionales o internacionales en los casos previstos en el Artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares o en cualquier otro caso de excepción previsto por la misma o la demás legislación aplicable.</p>
      <p>&nbsp;</p>
      <p>5. RESGUARDO Y SEGURIDAD DE LOS DATOS PERSONALES.</p>
      <p>&nbsp;</p>
      <p>&nbsp;El Responsable y/o sus Encargados conservarán los Datos Personales del Titular durante el tiempo que sea necesario para procesar sus solicitudes de información, productos y/o servicios, así como para mantener los registros contables, financieros y de auditoria en términos de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y de la legislación mercantil, fiscal y administrativa vigente. Los Datos Personales del Titular recolectados por el Responsable y/o sus Encargados se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y de la regulación administrativa derivada de la misma. No obstante lo señalado anteriormente Wesdap.com&nbsp; no garantiza que terceros no autorizados no puedan tener acceso a los sistemas físicos o lógicos de los Titulares o del Responsable o en los documentos electrónicos y ficheros almacenados en sus sistemas. En consecuencia Wesdap.com, no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse de dicho acceso no autorizado.</p>
      <p>&nbsp;</p>
      <p>6. PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO.</p>
      <p>&nbsp;</p>
      <p>Para ejercer los Derechos ARCO, el Titular o su representante debe presentar una solicitud por escrito de acceso, rectificación, cancelación u oposición con la información y documentación siguiente:</p>
      <p>&nbsp;</p>
      <p>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre del Titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;</p>
      <p>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Los documentos que acrediten su identidad (copia simple en formato impreso o electrónico de su credencial de elector, pasaporte o FM-2 o FM-3) o, en su caso, la representación legal del Titular (copia simple en formato impreso o electrónico de la carta poder simple con firma autógrafa del Titular, el mandatario y sus correspondientes identificaciones oficiales –(credencial de elector, pasaporte, FM-2 o FM-3);</p>
      <p>c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La descripción clara y precisa de los Datos Personales respecto de los que busca ejercer alguno de los Derechos ARCO, y</p>
      <p>d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cualquier otro elemento o documento que facilite la localización de los Datos Personales del Titular.</p>
      <p>&nbsp;</p>
      <p>En el caso de las solicitudes de rectificación de Datos Personales, el Titular respectivo deberá también indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.</p>
      <p>&nbsp;</p>
      <p>Para la recepción, registro y atención de las solicitudes para ejercer su derecho de acceso, rectificación, cancelación y oposición a sus Datos Personales, así como para limitar el uso o divulgación de sus datos, y los demás derechos previstos en la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares contactar a:</p>
      <p>&nbsp;</p>
      <p>Dirección de correo electrónico: info@kapha.lat</p>
      <p>&nbsp;</p>
      <p>El Responsable o sus Encargados le responderán al Titular respectivo en un plazo máximo de veinte días hábiles, contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la determinación adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los quince días siguientes a la fecha en que se le comunica la respuesta al Titular. Tratándose de solicitudes de acceso a Datos Personales, el Responsable o sus Encargados procederán con su entrega previa acreditación de la identidad del solicitante o de su representante legal, según corresponda. Los plazos antes referidos podrán ser ampliados sólo en términos de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares.</p>
      <p>&nbsp;</p>
      <p>La entrega de los Datos Personales será gratuita, solamente le corresponderá cubrir los gastos justificados de envío o el costo de reproducción en copias u otros formatos.</p>
      <p>&nbsp;</p>
      <p>Para efectos de las solicitudes de cancelación de Datos Personales, además de lo dispuesto por el presente Aviso de Privacidad, se estará a lo dispuesto en el Artículo 26 de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares, incluyendo los casos de excepción de cancelación de Datos Personales señalados.</p>
      <p>&nbsp;</p>
      <p>7. CAMBIOS AL AVISO DE PRIVACIDAD.</p>
      <p>&nbsp;</p>
      <p>Wesdap.com, se reserva el derecho de actualizar periódicamente el presente Aviso para reflejar los cambios de nuestras prácticas de información. Es responsabilidad del Titular revisar periódicamente el contenido del Aviso de Privacidad en el sitio www. Wesdap.com El Responsable, entenderá que de no expresar lo contrario, significa que el Titular ha leído, entendido y acordado los términos expuestos, lo que constituye su consentimiento a los cambios establecidos en dichas actualizaciones respecto al tratamiento de sus Datos Personales para efectos de la Ley Federal de Protección de Datos Personales en Posesión de Los Particulares y demás legislaciones aplicables.</p>
      <p>&nbsp;</p>


                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
</section>
{% endblock %}