{% extends 'base.html.twig' %}

{% block title %}{{ 'Registrarse como Alumno!' | trans }}{% endblock %}

{% block header %}
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h1 class="page-header-title">Build your next project faster</h1>
            <p class="page-header-text mb-5">Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the developmet team at Start Bootstrap</p>
            {{ form(formulario) }}
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <img class="img-fluid" src="{{ asset('assets/img/drawkit/color/drawkit-user-mobile-color.svg') }}"/>
        </div>
    </div>
{% endblock %}

{% block header_image %}
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
{% endblock %}

{% block body %}
    <section class="bg-light py-10">
        <div class="container">

            <div class="row text-center">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-primary text-white mb-4"><i data-feather="layers"></i></div>
                    <h3>Built for developers</h3>
                    <p class="mb-0">Our modular, block-based build system makes building your next project fast and easy!</p>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="icon-stack icon-stack-xl bg-primary text-white mb-4"><i data-feather="smartphone"></i>
                    </div>
                    <h3>Modern responsive design</h3>
                    <p class="mb-0">This UI Kit is build mobile-first, meaning it is will function beautifully on any device!</p>
                </div>
                <div class="col-lg-4">
                    <div class="icon-stack icon-stack-xl bg-primary text-white mb-4"><i data-feather="code"></i></div>
                    <h3>Complete documentation</h3>
                    <p class="mb-0">All of the layouts, page sections, components, and utilities are fully covered in this products docs.</p>
                </div>
            </div>
        </div>
        <div class="svg-border-rounded text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
                <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
        </div>
    </section>
{% endblock %}