{% extends 'base.html.twig' %}

{% block title %}Programas{% endblock %}

{% block body %}
    <section class="bg-white py-10">
        <div class="container">
            <div class="row">
                {% for programa in programas %}
                    <div class="col-md-4" style="">
                        <img class="course-image rounded-circle" src="{{ course_image }}/{{ programa.imagen }}" alt="">
                        <div>
                            <h1>{{ programa.title }}</h1>
                            {{ programa.description | raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <style>
        .page-header {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
{% endblock %}
